<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Document</title>
  </head>
  <body>
    <h1>Namaste World, This is Piu !</h1>
    <form action="{{url_for('insert')}}" method="POST">
      Name: <input type="text" name="name" /><br />
      Email: <input type="text" name="email" /><br />
      Paswotd: <input type="password" name="password" /><br />
      <input type="submit" name="submit" value="Add Student" />
    </form>
  </body>
</html>
